:root {
    --border-basic: 1px solid grey;
    --focus-bs-basic: 0 0 0 2px rgba(128, 128, 128, 0.5);
    --transition-for-input-border: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    --success-color: #167575;
    --img-btn-side: 28px;
}
/**
Кнопки
*/
.btn-basic {
    background-color: white;
    border: var(--border-basic);
    margin: 1px;
    padding: 1px 2px;
    font-weight: lighter;
    color: black;
}

.btn-basic:hover {
    background-color: #dcdcdc;
    transform: translateY(-1px);
}


.btn-basic:active {
    transform: none;
}

.btn-w-img {
    background-color: white;
    border: var(--border-basic);
    margin: 1px;
    padding: 1px 2px;
    max-width: var(--img-btn-side);
    max-height: var(--img-btn-side);
}

.btn-w-img:hover {
    background-color: #dcdcdc;
    transform: translateY(-1px);
}

.switch {
    position: relative;
    width: 58px;
    height: 24px;
    background-color: white;
    border: var(--border-basic);
}

.switch>input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 34px;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--success-color);
    left: 34px;
    right: 0;
}

/**
Ссылки
 */
.a-btn {
    display: table-cell;
    text-decoration: none;
    color: black;
}

.a-btn-active {
    font-weight: normal;
}

.a-btn:hover {
    color: black;
}

.author-link {
    color: dodgerblue;
    text-decoration: none;
}

.author-link:hover {
    color: #5e5e41;
}

/**
Поля ввода
 */
.txt-input-basic {
    display: flex; /*TODO FLEX OR BLOCK*/
    width: 100%;
    border: var(--border-basic);
    margin: .25rem 0;
    padding: 2px 4px;
    transition: var(--transition-for-input-border);
}

.txt-input-basic:focus {
    outline: none;
    box-shadow: var(--focus-bs-basic);
}

.div-input-basic {
    word-break: break-all;
    border: var(--border-basic);
    max-width: 100%;
    min-height: 72px;
    margin: .5rem 0;
    padding: 0 5px;
    transition: var(--transition-for-input-border);
}

.div-input-basic:focus {
    outline: none;
    box-shadow: var(--focus-bs-basic);
}

.checkbox-input {
    width: 18px;
    height: 18px;
    border: var(--border-basic);
}

.checkbox-input:checked {
    accent-color: var(--success-color);
}

/**
Окна
 */
.window-basic {
    padding: 5px;
    background-color: white;
    margin: 0 1rem;
    border-radius: .5rem;
    border: solid 1px #2c3034;
}

.window-lite {
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: white;
    margin: 2px;
    border-radius: .5rem;
    border: solid 2px #5f7583;
}

.window-login {
    width: 95vw;
    max-width: 450px;
}

.notice-window {
    padding: 1rem;
    width: 250px;
    height: 100px;
    border: 1px black solid;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: white;
}

.notice-window>h6 {
    text-align: center;
    color: var(--success-color);
}

.notice-window>p {
    text-align: center;
}

/**
Прочее
 */
.vh-90 {
    height: 90vh;
}
.c-default {
    cursor: default;
}

.smaller {
    font-size: smaller;
}

.x-small {
    font-size: x-small;
}

.x-large {
    font-size: x-large;
}

.content {
    max-width: 960px;
}

.grid-repeat-10rem {
    grid-template-columns: repeat(auto-fill, 10rem);
}

/**
По ID
 */
#setOffset {
    width: 50px;
    height: 20px;
}

#submitOffset {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#suggestedForSearch {
    position: absolute;
    top: 80%;
    width: 150px;
}
