.post-search form {
    position: relative;
    width: 150px;
}

.post-search input {
    width: 100%;
    height: 25px;
    border: 2px solid #b3b8c7;
    border-radius: .4rem;
    outline: none;
    background: rgba(250, 230, 200, 0.75);
    color: #651717;
}

.post-search button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 25px;
    height: 25px;
    border: none;
    background: #b3b8c7;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;

}.post-search button:hover {
     background: #7b7d8d;
 }

.post-search button:before {
    color: #F9F0DA;
}

.comment:target {
    border: 1px solid black;
    border-radius: 0.5rem;
    animation: flicker 2s infinite alternate;
    background: linear-gradient(70deg, #fff2bd 0%, white 50%) right/200%;
}

@keyframes flicker {
    to {
        background-position: left;
    }
}

.like-button {
    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: rgba(0, 0, 0, 0);
}

.like-button:hover {
    background-color: rgba(75, 75, 75, 0.1);
}

.author-link {
    color: dodgerblue;
    text-decoration: none;
}

.author-link:hover {
    color: #5e5e41;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: black;
    text-decoration: none;
}

.nav-button:hover {
    color: #ececec;
}

.complaint-link {
    font-style: italic;
    font-size: small;
    color: rgba(100, 100, 100, 0.5);
    text-decoration: none;
}

.complaint-link:hover {
    color: #bb8989;
}

#arrowTop {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: #fdd50d;
}

#arrowTop:hover {

    background-color: #fadc0a;
}

#hideComments {
    border-radius: 0 .5rem .5rem 0;
    user-select: none;
    padding-bottom: .5rem;
    text-align: right;
    cursor: pointer;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    border-left: none;
    position: fixed;
    height: 12rem;
    bottom: 3%;
    left: 0;
    background-color: rgba(82, 166, 255, 0.58);
    color: #000000;
}

#togglePassword {
    border-radius: 0 .5rem .5rem 0;
    background-color: #f7f7f7;
}

#togglePassword:hover {
    background-color: #c8c8c8;
}

.tag-card {
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding: 0px 5px 1px 5px;
    margin: 1px;
    background-color: #dcdcdc;
    font-size: small;
}

.suggested-tag {
    text-decoration: none;
    color: #232836;
    user-select: none;
    cursor: pointer;
}

.suggested-tag:hover {
    background-color: #f0f0f0;
}

.admin-user-control {
    padding: 5px;
    background-color: white;
    margin: 0 1rem 0 1rem;
    border-radius: 1rem;
    border: solid 2px #2c3034;
}

.admin-user-control button {
    margin: 1px;
    background-color: #ffd272;
    border-radius: inherit;
    border: inherit;
}

.admin-user-control button:hover {
    background-color: #eeba4c;
}

.admin-user-control button:active {
    background-color: #f5d099;
    transform: translateY(1px);
}

.admin-panel-header {
    display: block;
    text-align: center;
    font-size: x-large;
    margin: .5rem 0 .5rem 0;
}

.sort-panel {
    user-select: none;
    padding-left: .5rem;
    color: black;
    margin-top: 3px;
    background-color: #7bafe5;
}

.sort {
    margin: 0 3px;
    cursor: pointer;
    color: #323232;
    font-size: small;
}

.sort:hover {
    color: #ffffff;
}

.user-card {
    overflow: auto;
    text-align: start !important;
    width: 10rem;
    height: 10rem;
    margin: 1px;
    display: inline-block;
    padding: 1px 3px 1px 3px;
    background-color: #e6eef3;
    border: solid 1px black;
    border-radius: .5rem;
}

.user-card:hover {
    background-color: #c4c4c4;
}

